In [5]:
!pip install duckdb pandas

Collecting duckdb
  Downloading duckdb-1.1.3-cp312-cp312-win_amd64.whl.metadata (781 bytes)
Requirement already satisfied: pandas in c:\users\dillo\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dillo\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dillo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dillo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dillo\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dillo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading duckdb-1.1.3-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------- ----------- 7.9/11.0 MB 40.4 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 37.9 MB/s eta 0:00:00
Installing collected packages: duckdb
Successfully installed duckdb-1.1.3

In [7]:
# Duckdb is a SQL engine that allows us to execute powerful, analytics-friendly
# queries against local or remote databases and flat files.
import duckdb
import pandas as pd

In [9]:
# Create a database file on disk
conn = duckdb.connect('example.db')
# Enable remote access
conn.sql("INSTALL httpfs")
conn.sql("LOAD httpfs")
# This database file points to files totaling multiple GBs,
# but it's only about 300KB itself. The `ATTACH` command
# gives us access to views that sit on top of remote Parquet files.
try:
  conn.sql("ATTACH 'https://data.baseball.computer/dbt/bc_remote.db' (READ_ONLY)")
except duckdb.BinderException:
  # This command will fail if you run it more than once because it already exists,
  # in which case we don't need to do anything
  pass

conn.sql("USE bc_remote")
conn.sql("USE main_models")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [ ]:
Potential A/B Testing ideas: Offensive and pitching stats several years prior and post expansion
    Offensive and Defensive stats post DH expansion
    Offensive stats post pitch clock

In [13]:
df: pd.DataFrame = conn.sql("SELECT p.player_id, p.last_name, p.first_name FROM player_game_offense_stats pgoStats left join stg_bio p on pgoStats.player_id = p.player_id" ).df()

In [15]:
df

        player_id last_name first_name
0        mclon001   McLouth       Nate
1        waltz001   Walters       Zach
2        tolls001  Tolleson     Steven
3        sancg001   Sanchez       Gaby
4        espid001  Espinosa      Danny
...           ...       ...        ...
4576443  pillk001    Pillar      Kevin
4576444  lobaj001   Lobaton       Jose
4576445      None      None       None
4576446      None      None       None
4576447      None      None       None

[4576448 rows x 3 columns]